# Salin file ini menjadi .env lalu isi nilainya.
MONGO_URI=mongodb+srv://user:password@cluster.mongodb.net/?retryWrites=true&w=majority
JWT_SECRET=ganti-dengan-string-acak-yang-panjang
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
